[2018-02-04 00:00] get9 opened #1 "Can't build/run on macOS"
Can't seem to build or run this project on macOS/darwin due to the `syscall.BindToDevice`. Searching around leads me to the SO_BINDTODEVICE sockopt which isn't present on darwin. Instead, others have used a variety of workarounds:
* https://trac.transmissionbt.com/ticket/2313
* http://atastypixel.com/blog/the-making-of-talkie-multi-interface-broadcasting-and-multicast/

[2018-02-07 16:42] insomniacslk commented on #1
Thanks for opening this issue. I haven't found an obvious solution as it seems to depend entirely on platform implementations. In the case of Linux we have the best guarantee, i.e. binding to a specific network device, while on macOS and FreeBSD the most we can do appears to be `bind`ing to a specific socket. This is a weaker contract than `SO_BINDTODEVICE` but I guess we can live with the limitat

[2018-02-07 17:49] insomniacslk commented on #1
This might help (as suggested by Marc, who has a better google-fu than I have), https://lists.apple.com/archives/darwin-dev/2014/Jan/msg00004.html .

From the post:
[code]

[2018-02-07 18:10] insomniacslk commented on #1
this seems to work. I'll do some more testing and post a patch here

[2018-02-07 18:37] insomniacslk commented on #1
hey @get9 and @rb2k, I've created https://github.com/insomniacslk/dhcp/pull/2 to fix this. I am still testing, but feel free to have a preliminary look

[2018-02-08 07:45] #1 closed, assigned to nobody

[2018-03-06 03:47] get9 opened #4 "DHPCv4 options const values are not actually OptionCodes"
I was refactoring some of the tests to take advantage of `stretchr/testify/assert` and ran into an interesting bug. It turns out the DHCPv4 options in dhcpv4/types.go are not all `OptionCode`s - only the first one is. The rest of them are `int`s due to the way the initialization works.

I forsee two fixes:

1. Prepend `OptionCode` before each `=`
2. Change the first line to `OptionPad = iota` and

[2018-03-06 09:03] insomniacslk commented on #4
Nice finding, thanks!

For how ugly it may look, I would rather prepend `OptionCode` before each line.
The reason is that `iota` should not be used for cases like this, when defining constants from some spec, they should only be used for internal use (like enums, but different). Unfortunately I found this out after writing this code, which means that also `MessageTypeDiscover` and `OpcodeBootReque

[2018-03-06 18:28] #4 closed

[2018-03-08 20:41] get9 opened #10 "dhcpv4 improvements"
Seems like the dhcpv4 package isn't as fleshed-out as the dhcpv6 package. A couple improvements:

* `dhcpv4.Client` has a `Timeout` field... but doesn't actually do anything with it
* Couple things could be made as interfaces so they're a little more flexible.

Anything else?

[2018-03-08 23:16] insomniacslk commented on #10
There are several other differences. E.g. no option type is defined as a struct, so cannot validate, and it's not easy to access and print; `DHCPv6` is an interface, `DHCPv4` is a struct. And probably several more.

My focus has always been on DHCPv6 and less on DHCPv4 which is a legacy protocol, but I am happy to see and help things improve :)

[2018-03-10 05:17] get9 commented on #10
First of improvements in #13

[2018-03-26 22:10] insomniacslk opened #22 "Uniform dhcpv4 and dhcpv6 Parse methods"
The dhcpv4 and dhcpv6 packages use two different conventions for option parsing. In `dhcpv4` the option is parsed along with option code and length, in `dhcpv6` these are handled earlier, and the `Parse*` methods only handle the data, assuming that the option code is the same as the used option.

Let's uniform the two interfaces for consistency.

[2018-03-27 09:58] insomniacslk opened #25 "OptVendorSpecific is in bsdp package instead of dhcpv4"
Shouldn't this be instead in the dhcpv4 package? cc @get9

[2018-03-28 06:54] get9 commented on #25
Ah nope, I purposefully put it in bsdp because:
1) It's very bsdp-specific
2) (more importantly) There can be multiple different uses of the vendor-specific information fields, ergo it makes more sense for that to be in the more specific package.

[2018-03-28 06:55] get9 commented on #10
Finished up in #16, #17, #20, #21.

[2018-03-28 06:55] #10 closed

[2018-03-28 07:40] insomniacslk commented on #25
for some reason I confused this specific vendor option with a generic vendor opt implementation, nevermind!

[2018-03-28 07:40] #25 closed

[2018-04-11 19:38] insomniacslk opened #34 "Update constant names to be CamelCase"
The Go linter prefers CamelCase rather than UPPERCASE_AND_UNDERSCORE names. A lot of variables in the code follow the latter. Let's make golint happier

[2018-04-18 10:42] insomniacslk opened #35 "Handle duplicated responses in clients"
Currently the clients only listen for 4 packets. In some networks there are multiple DHCP servers, so simply waiting for 4 packets is not robust, need to check for the message type until found what expected, or timed out

[2018-04-18 10:47] insomniacslk opened #36 "NewSolicitForInterface and NewRequestFromAdvertise must contain the same options"
Request messages are expected to have the same options as Solicit. This is not currently happening.

The approach I want to use is to pass optional modifier functions that modify DHCP messages, something like:

[code]

[2018-04-18 18:03] insomniacslk opened #39 "Implement XID and message type check in dhcpv4"
Just like in v6 (https://github.com/insomniacslk/dhcp/pull/38), do the same for dhcpv4

[2018-04-18 18:18] insomniacslk opened #40 "The DHCPv6 client should return the solicit packet even if the transaction doesn't succeed"
The idea behind returning a "conversation" in the clients is that it will hold all the packets that have been sent (or tried to send) and received.
The DHCPv6 client doesn't return the Solicit packet if the transaction solicit/advertise fails, but it should.

[2018-04-18 20:41] insomniacslk commented on #40
Fixed in https://github.com/insomniacslk/dhcp/commit/038a263926d20ad709490399448c278e9c970515

[2018-04-18 20:41] #40 closed

[2018-04-18 20:42] insomniacslk commented on #35
Addressed in https://github.com/insomniacslk/dhcp/pull/38

[2018-04-18 20:42] #35 closed

[2018-04-19 20:55] insomniacslk commented on #36
Fixed in https://github.com/insomniacslk/dhcp/pull/41

[2018-04-19 22:01] #36 closed

[2018-04-19 22:15] insomniacslk opened #42 "dhcpv6: send and receive packets only on the designated interface"
Just like in the DHCPv4 client, packets have to go uniquely through the designated network interface

[2018-04-20 17:42] pmazzini opened #43 "dhcpv6: option user class"
The rfc3315 mentions the following:

I think the library is currently only considering the case of having only 1 user class data.

[2018-04-20 19:02] insomniacslk commented on #43
you're right - I assumed only one option. This explains the inner length. I am going to make a fix shortly

[2018-04-20 19:02] insomniacslk commented on #43
but above all - thanks for spotting it!

[2018-04-20 21:45] insomniacslk commented on #43
resolved

[2018-04-20 21:45] #43 closed

[2018-04-29 19:50] insomniacslk opened #49 "Cover all the options with unit tests"
A single broken option can break the whole encoding/decoding workflow. All the options have to be rigorously tested to avoid this.

[2018-06-11 10:41] insomniacslk opened #73 "Minimize code duplication in functions like NewSomethingFromSomething"
There is a bunch of duplicate code in functions like NewReplyFromRenew, NewReplyFromRequest, etc. Let's minimize the duplicate code.

[2018-07-08 22:23] insomniacslk opened #79 "Consider moving away from assert libraries"
As discussed in https://github.com/insomniacslk/dhcp/pull/71 , it is worth considering moving away from assertion libraries like the one we use, `github.com/stretchr/testify`.

[2018-07-08 23:15] get9 commented on #79
I tried to find some of the relevant documentation on this and... I’m not really convinced this is really worth the time. Sure, Equals does some magic runtime comparisons, but I think that’s better than having to write yet more “if foo != bar” lines after every operation.

[2018-07-09 08:03] insomniacslk commented on #79
This is just a question, not a proposal - I am not saying we have to move away from stretchr/testify, just that it's worth doing some research to understand pros and cons. When I'll have researched and studied more on the matter, I'll be able to decide if I'll suggest to move away from it or not

[2018-07-12 09:53] insomniacslk opened #82 "Add integration tests"
There are several parts (client, server) that can't be easily tested with unit tests in Go. Let's add integration tests to fill the gap

[2018-07-12 10:07] insomniacslk commented on #82
Ginkgo was suggested for integ tests, https://onsi.github.io/ginkgo/

[2018-07-17 13:02] earlgreyz opened #87 "Generic Futures"
Consider making the `dhcpv6.Future` generic or using an external library

[2018-07-17 13:05] earlgreyz opened #88 "Sync client might use Async"
The standard client could be rewritten to use the asynchronous client:
1. open async client
2. send a packet
3. block on execution using `WaitTimeout(...)`

[2018-07-17 13:06] earlgreyz opened #89 "DHCPv4 async client"
Similar to the dhcpv6 we may want to add the v4 asynchronous client

[2018-07-29 21:35] get9 opened #104 "Run gometalinter in CI?"
[gometalinter](https://github.com/alecthomas/gometalinter) has some pretty high signal about various things that can be improved/fixed, including lots of static analysis on the code. The only one that I think we should probably not run is the cyclomatic complexity linter because there are a lot of spurious warnings (particularly around the parsing func's that have a lot of switch branches).

[2018-07-30 19:55] pmazzini commented on #22
Do you have any preference of one over the other?

[2018-07-30 19:57] pmazzini commented on #39
Should this be closed after #95?

[2018-07-31 01:57] insomniacslk commented on #22
I prefer the dhcpv6 convention but happy to discuss

[2018-07-31 01:58] insomniacslk commented on #39
yes :) thanks for noticing

[2018-07-31 01:58] #39 closed

[2018-07-31 16:14] insomniacslk commented on #104
that's a good idea :) let's try it

[2018-07-31 19:17] pmazzini opened #113 "dhcpv4 user class parsing"
The user class parsing added in PR #90 does not follow the RFC:

[2018-07-31 19:18] pmazzini commented on #113
cc @insomniacslk, @mooneyow

[2018-07-31 21:55] pmazzini commented on #113
I may have opened this to soon.
Apparently some clients are sending a non rfc compliant user class option.

[2018-08-01 07:08] mooneyow commented on #113
It seems there is a conflicting Microsoft standard where `UC_Len_i` is not included and only one user class can be specified.
https://osqa-ask.wireshark.org/answer_link/55006/

https://msdn.microsoft.com/en-us/library/dd358019.aspx

[2018-08-01 08:26] mooneyow commented on #113
https://github.com/insomniacslk/dhcp/pull/114

[2018-08-01 16:51] insomniacslk opened #116 "Add modifiers to BSDP package"
As done in dhcpv6 and dhcpv4, let's add modifiers to the packet generation. Assigned to @get9 as our BSDP expert :)

[2018-08-02 11:57] lestrozi opened #118 "Check for errors when applying modifiers"
It would be nice to check for errors when applying modifiers.

For instance:

[code]

[2018-08-02 15:50] pmazzini opened #120 "dhcpv6 OptClientArchType not following RFC"
rfc5970 specifies that multiple client arch types can be specified.

The library is assuming only one is specified.

[2018-08-02 16:41] pmazzini commented on #113
Closing this after PR117.

[2018-08-02 16:41] #113 closed

[2018-08-03 00:15] insomniacslk commented on #118
This probably requires a more complex Modifier interface, because modifiers can be applied in different moments, in different functions, that may or may not return an error. This will probably require an `error` channel. E.g. in `Exchange` functions, the modifiers are applied twice, and we would not be able to distinguish where it failed exactly (if we even want to).

A possible interface could be

[2018-08-03 10:55] lestrozi commented on #118
I'm not very familiar with Go.. this looks like a classic use for exceptions but I don't see a good way to do that in Go. The error channel is a good idea, but it's kinda complex.
I think I will change my suggestion to just panic if a modifier fails to apply. The rationale is that 1) I can't think on a situation where getting an error applying a modifier is not a bug (can you?) and 2) I think it's

[2018-08-05 09:42] stapelberg opened #123 "Versions for Go modules?"
Commit https://github.com/insomniacslk/dhcp/commit/c6894ea160d82b4a326ebab94faaebd090192a7b broke my project https://github.com/rtr7/router7

I realize that currently, this repository does not have any tagged versions.

As per https://research.swtch.com/vgo-module, could you please start releasing a new major version for breaking changes?

Thanks for considering,

[2018-08-05 15:08] insomniacslk commented on #123
Hey Michael,
I'm sorry that this broke your build, I see that you have already committed an update on your side. We planned already to use vgo, as this project is now more widely used. For now I will commit to avoid breaking changes until we have switched to versioning. Would that be OK for you?

[2018-08-05 15:49] stapelberg commented on #123
Sure thing, thanks for your reply! :)

[2018-08-13 12:33] #120 closed

[2018-08-14 13:10] insomniacslk opened #131 "Consider storing the whole packet bytes after parsing it"
This can help compare and validate the original packet in cases where the packet is malformed (e.g. options after the END option in a DHCPv4 packet)

[2018-08-19 13:39] insomniacslk commented on #42
Correct, this has been fixed long time ago. Can't find the PR numbers from the phone so I'll just close this

[2018-08-19 13:39] #42 closed

[2018-08-19 14:45] pmazzini commented on #87
I think #127 closes this issue.

[2018-08-19 14:45] #87 closed

[2018-08-19 14:48] pmazzini commented on #73
Shall we close this after #78? Or do you think it is still an issue?

[2018-08-19 17:50] insomniacslk opened #139 "Use signed commits"
As explained at https://help.github.com/articles/signing-commits-using-gpg/

[2018-08-20 09:33] earlgreyz opened #143 "DHCPv4 asynchronous broadcast"
The sockets for broadcast should be created with a `syscall` instead of through standard `ListenUDP` function. The synchronous client already provides such functionality, but the async one can only send unicast requests.

[2018-08-20 11:13] #89 closed

[2018-09-06 10:06] earlgreyz commented on #104
Alternatively to gometalinter I'd recommend [golangci-lint](https://github.com/golangci/golangci-lint) using which is very CI friendly and runs much faster.

[2018-09-20 20:00] insomniacslk opened #156 "Switch to golang.org/x/sys/unix instead of syscall"

[2018-09-30 05:58] insomniacslk opened #159 "Add deadline to infinite loop in dhcpv6/client.go"
In a recent PR I added a loop in dhcpv6/client.go to wait until LocalAddr != nil. While the risk is low, this loop doesn't have a break condition if the operation takes too much time. It's a good idea to add a deadline and break if passed.

CC @get9

[2018-09-30 20:51] #159 closed

[2018-10-07 13:50] #156 closed

[2018-10-09 05:43] davebarrau commented on #79
Hey @insomniacslk, did you come to any conclusion on this? Thinking about writing some test cases and don't want to use the wrong library (or have them need to be rewritten later on).

I think for unit testing, it doesn't matter if you fail early, as the end game is you get all tests to pass prior to committing, and you should be running tests often enough that a whole bunch should not blow up at

[2018-10-11 12:40] davebarrau commented on #49
Ah, look like my workaround to capture the output when adding a duplicate AddRequestedOption() complains doesn't work on 1.9 :(

[2018-10-12 16:58] gvialetto opened #174 "DHCPv6 client use of net.Addr/net.UDPAddr"
In the DHCPv6 client struct `LocalAddr` and `RemoteAddr` are declared to be of the `net.Addr` type, but wherever they are used the code attempts to cast them to `net.UDPAddr` and return an error on failure.

https://github.com/insomniacslk/dhcp/blob/d17d7ed73609154a9c72e1194a4ad4842447dde8/dhcpv6/client.go#L99-L111

https://github.com/insomniacslk/dhcp/blob/d17d7ed73609154a9c72e1194a4ad4842447dde8

[2018-11-01 15:48] marcoguerri opened #184 "Problematic DHCPv4 on unconfigured interface"
I have been working on implementing `RequestNetbootv4` and stumbled across some issues with the way sockets are used in the v4 part of the library.

If one starts from an interface that does not have any configuration (i.e. no IP, no routes), the attempt to broadcast the DISCOVER fails with ENETUNREACH. The client socket is an `AF_INET`, `SOCK_RAW`, `IPPROTO_RAW` socket, and without any route, eve

[2018-11-01 22:42] begetan opened #186 "DHCPV4: Missing some useful New*FromRequest server functions"
I am writing an example of dhcpv4 server for that library based on krolaw implementation and there are missing several base functions like:

[code]

Actually I made them on top of the basic NewReplyFromRequest, but believe they should be inside of the library.

Do you have a plan to add them?  Would you like to get a pull request?

P.S. There are missing NewOffer, NewAcknowledge function also ment

[2018-11-01 22:46] insomniacslk commented on #186
Hey @begetan, thanks for the suggestion! A server implementation is coming shortly, I have a work-in-progress pull request waiting on some other stuff before being merged. That includes also some of the functions you are suggesting, but I will add only the ones that are strictly necessary for the server code. Of course we can add more of them later on. For now just stay tuned, I plan to merge the

[2018-11-06 19:05] pmazzini commented on #186
Wouldn't `NewOfferFromRequest` and `NewAckFromRequest` be the same as `NewReplyFromRequest` plus setting the message type? I don't see much added value in having those functions.

[2018-11-06 19:06] insomniacslk commented on #186
I believe that at the time we opened this issue we didn't have `NewReplyFromRequest`, I'm closing this

[2018-11-06 19:09] pmazzini commented on #186
We did have it, it is mentioned in the issue description.

[2018-11-06 20:22] insomniacslk commented on #186
oh, good point. Either way we don't need those functions, thanks for noticing!

[2018-11-07 11:56] insomniacslk opened #188 "Improve examples"
The exdhcp contains examples, but we also need some documentation on the main README

[2018-11-07 17:13] begetan commented on #186
In order to create acknowledge from NewOfferFromRequest we have to set 2 fields, 3 Options and one Option list according to parameter OptionParameterRequestList

It looks like this:

[code]
Packet structure is incomplete after NewReplyFromRequest(p).
It should be assigned extra settings to create a valid DHCP packet.
The order of settings is important. User should care enough about byte handling.

[2018-11-07 21:49] pmazzini commented on #186
`NewReplyFromRequest` is intended to be used as a base function when implementing a server handler. How the `Offer` and `Ack` looks like may change according to the server implemenation.

A pull request is always welcomed. How would you suggest `NewOfferFromRequest` and `NewAckFromRequest` should look like? Will they be very different from each other?

[2018-11-07 23:21] begetan opened #190 "New server.go implementation only reads packets"
I wanted to rewrite my example DHCP server with recently added server.go implementation but found no code for sending packet back to network. What is a status and plan for development?

It should be also added possibility to pass DHCP server parameters to handler, as well as return value for processing reply back. Here is my assumption how to change library implementation.

[code]
[code]

Then we

[2018-11-08 10:11] pmazzini commented on #190
Hi @begetan,

Have a look at `server_test.go`, you can send packets back to the network using the `conn net.PacketConn`. We definitely need to improve the examples/documentation, which is being tracked in #188.

[2018-11-08 12:20] insomniacslk commented on #190
Basically what @pmazzini said. I will write examples soon (days hopefully).
Handling errors and messages at the moment can be done implicitly with channels, but I agree that it would be nice to have them explicitly from the handler. I will have a look at that too

[2018-11-08 12:22] insomniacslk commented on #190
Because of the above, @begetan could you please rename this issue to reflect what has to be done, or close this and reopen a new one? Thanks!

[2018-11-08 12:50] insomniacslk commented on #186
I agree that it would be nice if server implementations could focus on logic rather than packet, even if I don't see it as a blocker. Details may still differ, and even the server implementation cannot ignore wire-level details.
If we have to implement wrappers, this should probably go one layer up, in a sub-module.

However, regarding server implementation, stay tuned, as I have been working on C

[2018-11-08 16:23] begetan commented on #186
@pmazzini

**NewOfferFromRequest** only differ from **NewAckFromRequest** by the message type

It its possible to have only single function like NewPacketFromRequest(type MessageType, ...)
But in this case it should handle all possible types of reply including OFFER, ACK, NACK.. etc

It is just a matter of operational excellence of API structure. For my personal opinion to have 3-4 simpler methods

[2018-11-08 16:40] insomniacslk commented on #186
At this point I wonder if server and client should be separate packages from the packet parsing, and contain all the low and high level wrappers. I am reopening this issue because there's still room for an interesting discussion

[2018-11-10 18:44] begetan commented on #190
@pmazzini
I've checked server_test.go and understood you way of handling replies.
Since I am coming to this library from other project I just trying to adopt my code based on current knowledge.

In my point of view there are some quite reasonable abstraction levels for public API:

1. DHCP bytes handling - basic functions for protocol bytes manipulation
2. DHCP messages packet handling (client/ser

[2018-11-19 20:44] insomniacslk opened #200 "Remove deprecated DHCPv4's BroadcastSendReceive"
This function is only used by the `bsdp` package, and is not in sync with `sendReceive`.

cc @get9

[2018-11-19 21:47] insomniacslk opened #201 "netboot.ConfigureInterface adds the address instead of replacing it when called multiple times"
This uses the underlying `netlink.AddrReplace`, however it's adding an address. Replace it instead

[2018-11-19 21:49] insomniacslk opened #202 "netboot.IfUp should wait before retrying"
At the moment it tries with no pause and this is bad.

[2018-11-19 21:50] insomniacslk opened #203 "Implement DNS compression in rfc1035label package"
Label compression is not implemented, I have hit a DHCP server that responds with compressed labels and the library failed to parse the response

[2018-11-19 22:44] #184 closed

[2018-11-20 14:03] #203 closed

[2018-11-20 17:33] #202 closed

[2018-11-27 20:45] pmazzini commented on #200
Fixed in #182.

[2018-11-27 20:45] #200 closed

[2019-01-17 00:52] begetan opened #229 "Can't build/run on macOS due to client.go code"
[code]
There are no constants in package **golang.org/x/sys/unix** for darwin_amd64

[code]

This is a commit probably breaks compilation:
https://github.com/insomniacslk/dhcp/commit/4eedccfd12105dbcde88298e87bbbcf41aa7c1df

In BSD system AF_PACKET should be replaced by AF_LINK

BTW, why not to move client for separate package? I just removed file client.go from repo in order to compile server cod

[2019-01-17 00:54] insomniacslk commented on #229
cc @get9

[2019-01-17 00:57] insomniacslk commented on #229
This is actually something I've considered, splitting client and server from protocol parsing. The library structure wold become a bit more fragmented but I can try and see if it doesn't look too bad.

[2019-01-17 01:14] get9 commented on #229
I'm fine with that; this package should be reserved for dhcp library code. We can have a separate one for sample clients that's a consumer of this code.

Do we have CI set up for mac builds of this library?

[2019-01-17 01:18] abh commented on #229
Compiling for FreeBSD I ran into the same thing.

[2019-01-17 09:11] insomniacslk commented on #229
I think what @begetan meant was to split out client.go and server.go in a separate package, correct me if I'm wrong. As per the sample client, there is a working (yet not full-featured) dhclient implementation in the examples repo, https://github.com/insomniacslk/exdhcp/blob/master/dhclient/main.go

No, the tests are linux-only. We would just need an `os` section in `.travis.yml`, like this, https

[2019-01-17 11:21] insomniacslk commented on #229
This is the PR that broke the build, http://github.com/insomniacslk/dhcp/pull/198 (not the commit mentioned above). AF_PACKET was introduced to deal with unconfigured interfaces, which is fundamental for a DHCP client to work, but AF_PACKET is Linux-specific. I'll work on a fix for darwin/freebsd

[2019-01-17 11:22] insomniacslk commented on #229
Quick search: https://stackoverflow.com/questions/17169298/af-packet-on-osx

[2019-01-17 11:37] insomniacslk commented on #229
If I'm reading it right, dhclient in FreeBSD uses... BPF, https://github.com/freebsd/freebsd/blob/master/sbin/dhclient/bpf.c#L100 . Basically like running tcpdump

[2019-01-18 12:48] insomniacslk opened #231 "Split client and server from parsing"
This will allow finer-grained imports for who only needs a subset of the functionalities (e.g. no need for server or client)

[2019-01-18 12:48] insomniacslk commented on #229
Tracked at https://github.com/insomniacslk/dhcp/issues/231

[2019-01-19 21:00] hugelgupf commented on #231
+1

[2019-01-27 18:52] begetan opened #240 "dhcpv4/server.go binding to interface not working properly on macOS"
I have switched finally my test server implementation from https://github.com/krolaw/dhcp4/conn to this library and found that it is not serving incoming requests properly. Current implementation is strightforward derived from the example from book Network programming in Go. I looks like krolaw spent enough time to create working bindings for servers in different OS-es.

What is the problem? When

[2019-01-27 19:55] insomniacslk commented on #240
hey @begetan , we know of this limitation, I have a local branch with a partial solution implemented already. The binding is already done for the client, and implemented in https://github.com/insomniacslk/dhcp/blob/master/dhcpv4/bindtodevice_linux.go (same thing for `darwin`), so this is just matter of time.

Issue #231 can be prioritized - the only thing to decide is whether to have this structur

[2019-01-28 11:21] #231 closed

[2019-01-28 13:00] pmazzini opened #243 "Consider moving the project to `github.com/coredhcp/dhcp`"
I am only opening this to discuss whether we should move the project to `github.com/coredhcp/dhcp`.

The cons are that we already have the issues, stars and metrics in the current repo.

[2019-01-28 13:21] pmazzini opened #244 "[dhcpv4] simplify userclass handling"
Currently we have:

[code]

I think this can be changed to:

[code]

[2019-01-28 13:48] pmazzini opened #245 "[dhcpv4] iterate over the available options"
After the changes in PR #227, this won't work:

[code]

This doesn't compile because the key of the map is a uint8.

Should the key be changed to an `OptionCode`?

cc @hugelgupf

[2019-01-28 18:18] hugelgupf commented on #245
You can use .Code()

[2019-01-28 18:47] pmazzini commented on #245
Right! Thanks!

[2019-01-28 18:47] #245 closed

[2019-01-28 20:35] pmazzini commented on #190
@begetan Do you mean that the server handler should only be able to craft a response  packet and should not receive a `net.PacketConn`? If that is the case then I kind of agree.

Can the issue title be properly updated?

[2019-01-28 20:37] pmazzini commented on #229
Should we close this one after PR #241? cc @begetan

[2019-01-28 20:39] insomniacslk commented on #229
not really - the build still fails on darwin. Just not a hi-pri at the moment

[2019-01-29 01:20] insomniacslk opened #246 "Make TransactionID generation non-blocking"
crypto/rand is blocking, while math/rand is not. This blocks the generation of the TransactionID until the machine has enough randomness in the pool. This has been the result of a fun troubleshooting :)

While working on a demo on qemu I found that the DHCPv6 client was apparently stuck. It worked sometimes, it didn't other times. SLAAC was fine and I could see traffic through it. It suddenly star

[2019-01-29 02:48] hugelgupf commented on #246
It's necessary to use crypto/rand as a way to prevent "MITM" (without the middle). I.e. if you're a malicious actor in your network, and you don't get to see DHCP requests, but you can arbitrarily send responses out... wouldn't it be nice if you could predict the transaction ID?

[2019-01-29 02:52] hugelgupf opened #247 "Use godoc examples instead of examples directory."
https://blog.golang.org/examples

re #241

[2019-01-29 08:37] insomniacslk commented on #246
Good point. I'll rather make the generation not to block forever, and fail (configurable)) ift's taking too many rounds or too much time

[2019-01-29 21:14] begetan commented on #229
@pmazzini
This PR makes library indpendent from client code and usable on Darwin/BSD, but client code not compiled yet. It should be fixed one day.

[2019-01-29 22:02] begetan commented on #240
A little update. With local addr = 0.0.0.0 server able to capture broadcast packets, but not able to send. Here is a failed code:

[code]
There is no error message nor packet replied to requestor.  For that reason I've update my proposal and focused it on final separation of Server code: https://github.com/insomniacslk/dhcp/issues/190

[2019-02-06 16:16] hugelgupf commented on #246
See https://github.com/u-root/u-root/pull/1129

[2019-02-24 18:10] andrewrynhard opened #251 "Host Name not properly set?"
This is my first time delving into the internals of DHCP so forgive me if this is noise. I think I'm seeing a bug in this library. I have reserved an IP and hostname for a machine I have and using this library I am trying to set the hostname.

[code]

results in

[code]

Notice that the hostname is `localhost`. In my router it is `master-1`. If not a bug, any help would be much appreciated!

[2019-02-24 18:34] hugelgupf commented on #251
I'd think this is your server not replying with the correct hostname. Do you suspect that the DHCP client is setting that hostname? Have you looked at what the packet looks like on the wire (tcpdump)?

[2019-02-24 18:49] andrewrynhard commented on #251
@hugelgupf here is output from `sudo dhcpdump -I enp5s0`
[code]

and with `dhclient`:

[code]

[2019-02-24 19:43] hugelgupf commented on #251
Those are different hosts with different hostnames. I'd really like to see what tcpdump on the server looks like, if you can swing it, to see what bytes it is putting on the wire.

The parsing code for HostName() is fairly simple, and "localhost" is as far as I can tell not even a string I can find in the dhcpv4 library. Next, I'd have three points of "where to look":

- while the server is suppos

[2019-02-24 19:54] andrewrynhard commented on #251
@hugelgupf Thanks. I seemed to have borked my KVM setup, VMs timing out on DHCP now :D. As soon as I get that figured out I will get back to you!

[2019-03-02 17:05] pmazzini commented on #251
Shall I close this?

[2019-03-02 17:29] #251 closed

[2019-03-12 07:18] hugelgupf opened #257 "Swap out netlink library"
The most used netlink library out there kind of plays fast and loose with unsafe pointers, sometimes leading to memory corruption.

(E.g. https://github.com/vishvananda/netlink/blob/master/ioctl_linux.go#L89 - should be using binary marshaling instead, since `e` may be freed anytime after - luckily, it gets returned and used *after* Ifreq is given to a syscall, but this kind of stuff is all over t

[2019-03-13 22:34] #244 closed

[2019-03-28 04:27] mdlayher commented on #257
https://gitlab.com/mergetb/tech/rtnl is another one being built on my netlink package. I'm unsure of the completion or maturity of either at this point, as I haven't had to do any rtnetlink work in some time.

[2019-03-30 07:50] hugelgupf commented on #246
see also https://github.com/golang/go/commit/1961d8d72a53e780effa18bfa8dbe4e4282df0b2

in Go 1.12, crypto/rand will print a warning after 60 seconds of blocking.

[2019-03-30 18:11] insomniacslk commented on #246
That's how we got it quickly this time :)

[2019-04-03 15:22] #246 closed

[2019-04-04 13:48] insomniacslk commented on #123
We are not far from a stable 1.0 release :) Will get back to this soon

[2019-04-05 12:26] pmazzini commented on #88
The new client created by @hugelgupf is async so closing this issue.

[2019-04-05 12:26] #88 closed

[2019-04-05 12:28] pmazzini commented on #143
I think the new client created by @hugelgupf already supports this.

[2019-04-05 12:28] #143 closed

[2019-04-05 12:31] pmazzini commented on #174
The new client created by @hugelgupf is no longer using `net.Addr`.

[2019-04-05 12:31] #174 closed

[2019-04-05 12:55] pmazzini commented on #240
Is this still an issue after PR #260?

[2019-04-09 21:42] insomniacslk commented on #257
After the fixes at https://github.com/jsimonetti/rtnetlink/pull/17 and https://github.com/jsimonetti/rtnetlink/issues/18 I started working on swapping vishvananda/netlink with jsimonetti/netlink. Work-in-progress at https://github.com/insomniacslk/dhcp/pull/271.

[2019-04-15 08:33] #257 closed

[2019-04-26 11:10] insomniacslk commented on #104
And yeah, gometalinter has been deprecated in favour of golangci-lint :) I'll definitely add it soon

[2019-04-29 17:23] stapelberg commented on #243
AFAIK, you can move a repository without losing any of these.

[2019-04-29 17:34] stapelberg commented on #123
After PR #279, `github.com/u-root/u-root` is the only dependency showing up as incompatible when enabling Go modules:

[code]

I think this is because u-root is using major version numbers without following the semantic import versioning convention (i.e. /v4 in the import path for major version 4). I would guess that u-root doesn’t really consider itself a library package.

However, it seems like

[2019-04-29 18:16] hugelgupf commented on #123
u-root does think of itself as a library, but we haven't gotten around to modules support yet. (Switching is not trivial for us.)

cc @rjoleary

[2019-04-29 18:18] hugelgupf commented on #123
The uio package is a common helper package we have for marshaling stuff. It's not just endianness conversion, but also deferred error handling so that code doesn't become littered with `if err` blocks.

I'd rather not have 3 different copies of that code to maintain, so I prefer it stay as a dependency.

[2019-04-29 20:35] stapelberg commented on #123
Okay, that’s good to know

Is there an issue we can follow? I’d like to see u-root work with modules rather sooner than later, especially given that Go 1.13 is on the horizon, which (IIRC) wants to make modules default-on.

[2019-04-29 22:49] insomniacslk commented on #243
yeah, you can move a repo and retain commit history, issues, etc, it would be just like a rename. Also, there is automatic redirection from the old to the new repo, so even importing code via `go get` should keep working with the old import path.
However CoreDHCP is not yet mature enough, and I'd rather not move it until then.

[2019-05-08 19:08] #104 closed

[2019-05-14 17:14] insomniacslk opened #290 "Switch to testable examples"
Just like in https://blog.golang.org/examples

[2019-05-15 13:25] rjoleary commented on #123
For u-root, there's this bug: https://github.com/u-root/u-root/issues/805. This was one attempt: https://github.com/u-root/u-root/pull/1152. Unfortunately, it's not as easy as running "go mod init".

It seems there are two separate milestones for supporting modules in u-root. The first is to support importing versioned u-root packages as @stapelberg is doing. It appears this can be done while main

[2019-07-29 10:02] deanchou opened #307 "dhcp4 client always wrong "got context deadline exceeded""
`	iface := "eth0"
	client := client4.NewClient()
	conversation, err := client.Exchange(iface)
	for _, packet := range conversation {
		log.Print(packet.Summary())
	}
	if err != nil {
		log.Fatal(err)
	}`

get an error "could not get random number: got context deadline exceeded"

[2019-07-29 14:52] insomniacslk commented on #307
this means your system's RNG cannot generate random numbers within a certain deadline. Are you using virtualization without a virtio RNG attached?

[2019-07-29 15:07] deanchou commented on #307
Yes, I found a solution.
I think crng is ignored in kernel initialization,because i didn't find "crng init done'
Thank you very much for your reply

[2019-07-29 15:07] #307 closed

[2019-07-29 23:41] rjoleary opened #308 "Use github.com/cenkalti/backoff for retries"
Use github.com/cenkalti/backoff to replace the backoff algorithm in https://github.com/insomniacslk/dhcp/pull/296.

The backoff package is well tested and gives the user more control over which backoff method and parameters to use.

[2019-07-29 23:45] rjoleary commented on #308
I can work on this.

[2019-07-31 09:26] insomniacslk commented on #308
Thanks for working on this! On a phone now and can't remember what was wrong with the current retry system, are you addressing a particular problem that hit you?

[2019-08-09 15:55] insomniacslk opened #309 "Add branch coverage measurements"
gobco seems to be a good tool for the purpose, https://github.com/rillig/gobco

[2019-08-12 21:46] pmazzini commented on #201
I need to check if this is still true after changing the `netlink` lib in #271.

[2019-08-13 10:35] pmazzini commented on #240
This is being looked at in #310

[2019-08-13 21:55] f1-outsourcing opened #311 "client: add functionality to release the lease"
I was testing with your examples/client6 and wondered how I can add there an client id of vendor id to send with the dhcp request

[2019-08-14 08:40] pmazzini commented on #240
@begetan Is this still an issue?

[2019-08-14 09:47] pmazzini commented on #240
I think this is done. Otherwise, feel free to reopen it.

[2019-08-14 09:47] #240 closed

[2019-08-14 09:50] pmazzini commented on #311
You can do something like:

[code]

Have a look at the modifiers in https://github.com/insomniacslk/dhcp/blob/master/dhcpv6/modifiers.go#L12

[2019-08-14 13:19] f1-outsourcing commented on #311
Yes thanks! I do not thing there is a function like the Exchange to release the ip address, or is there?

[2019-08-14 14:47] pmazzini commented on #311
No, there is nothing at the moment but it can be added.

It would probably be similar to what https://github.com/rtr7/router7 is doing.

https://github.com/rtr7/router7/blob/master/internal/dhcp6/dhcp6.go#L305

Would you like to submit a PR?

[2019-08-14 14:49] pmazzini commented on #311
Should this issue be closed / renamed?

[2019-08-14 17:44] f1-outsourcing commented on #311
Hmmm, I am using still ipv4, this NewRequestFromAdvertise is not available there and the v4 section of ther rtr7 is a bit cryptic to me
https://github.com/rtr7/router7/blob/3765287e97a4a7c911e03f2f01fd1145d2b46c46/internal/dhcp4/dhcp4.go#L160
I am also not to familiar with the dhcp protocol. I guess you have to initiate this advertisement first to send the release? I assume the procedure is the sa

[2019-08-15 09:04] pmazzini commented on #311
Oh right that is v6 code. Ok lets leave this issue to track the missing release lease functionality from the client.

[2019-08-15 14:01] f1-outsourcing commented on #311
Ok, but am I correct that the Release function would be very similar to the Exchange function? Or does it require some already available data from a previous data exchange stored in a connection variable or so?
In a linux dhcp client, there is always this process dhclient running, I guess to refresh leases etc. So I can assume it is storing data and reusing it in the communication and also in the

[2019-08-15 21:06] pmazzini commented on #311
It would be similar but some data such from the previous exchange is needed, such as the IP you are releasing.

Yes, that is right. It is constantly running to renew the lease, etc.

The problem that I see with this is that if the client does not honour the lease time, the server may assign the same IP to another client.

It depends on your server configuration.

You can avoid releasing it and let

[2019-08-17 00:44] futureday2015 opened #313 "need to implement myself if i want to send a decline message from client side"
I see there is a very convenient function called Exchange to run a full DORA transaction. But sometimes on client side, if it found the assigned ip from server side is already being used, so it wants to send a decline message to the server (reject it). And ask server to reassign a different ip to the client.

In this case, it seems i need to implement the discover , offer, decline, offer, request,

[2019-08-17 01:35] hugelgupf commented on #313
Looks like it, but if you look at Exchange - it's not a lot of code, I'd
call it a convenience function. You can use the same stuff to implement
your own.

I think the library and/or client should be as stupid as possible here -
decisions are left to the user. So if you want to make a transaction that
gets declined, I'd use DiscoverOffer and then come up with your own
response.

On Fri, Aug 16, 20

[2019-08-17 04:58] futureday2015 commented on #313
Thanks. You are right. I checked the types.go, it has all the options which the dhcp protocol supports, I will implement it myself and can also contribute here if anyone else needs.

[2019-08-17 04:59] hugelgupf commented on #313
We'd always take it as library functions!

[2019-08-17 05:01] #313 closed

[2019-08-20 15:53] pmazzini commented on #311
@f1-outsourcing shall I close this?

[2019-08-20 18:58] f1-outsourcing commented on #311
Should this not stay open until it is implemented? Looks like I need to have this fixed sooner that expected, because it is quite annoying having to clear the leases manually

[2019-08-24 13:27] f1-outsourcing commented on #311
What do you think of this? I am not to familiar with go nor dhcp protocol, but with this it looks like the dhcp server is receiving the release request.

https://github.com/insomniacslk/dhcp/compare/master...f1-outsourcing:master

[2019-08-26 07:12] pmazzini commented on #311
Is the server actually releasing the lease? It doesn't look like the release request is including `YourClientIP`.

Also, I would look at the new client `nclient4`.

[2019-08-26 07:28] f1-outsourcing commented on #311
Yes, using this

`client.Release(ipamConf.IPAM.DhcpIf, dhcpv4.WithClientIP(ip.IP))`

[2019-09-19 17:40] hugelgupf opened #318 "Add OS X build & test CI"
I think CircleCI has some stuff for Darwin on the free tier.

If not, azure might, too.

[2019-09-19 17:46] insomniacslk commented on #318
TravisCI supports OSX too, but we had to disable it because the darwin build was broken long time ago On Sep 19, 2019 6:40 PM, Chris K <notifications@github.com> wrote:I think CircleCI has some stuff for Darwin on the free tier.
If not, azure might, too.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-10-06 19:24] lperkov opened #324 "Transport security"
In some use-cases it might be of interest to secure DHCP process. One option for this is E-DHCP:

https://tools.ietf.org/html/draft-demerjian-serhrouchni-achmelal-edhcp-00

It would be appreciated if we can kick-off the discussions and identify the best mechanism to achieve transaction security.

[2019-10-06 20:00] pmazzini commented on #324
The url you linked is a draft and not a finished RFC:

[2019-10-06 20:56] hugelgupf commented on #324
In what use cases do you think it's worth securing DHCP?

[2019-10-07 18:44] rjoleary commented on #308
There'd be two main benefits for using this library. First, it would give more control/options over how the backoff is performed (especially with the BackOff interface). Secondly, this backoff library is well tested.

[2019-10-07 18:45] rjoleary commented on #308
It doesn't look like this repository has a vendor directory. How would you want to make the dependency on github.com/cenkalti/backoff ?

[2019-10-07 21:17] hugelgupf commented on #308
I'd just make it without managing it, same as with u-root so far.

When u-root is ready we should go to modules?

[2019-10-09 21:53] lperkov commented on #324
We have a specific use case which I am not able to share publicly unfortunately.

[2019-10-10 04:39] hugelgupf commented on #324
I see. It may not be your use case, but I'll leave a note in general -- I think for our use cases, we decided it was futile to secure DHCP. We're using it for booting, and we can securely verify what we're about to boot instead of verifying DHCP.

If you can complete the spec sanely, we're happy to take contributions, I think. But I doubt we'll be implementing this any time soon.

[2019-10-15 05:38] lewisthompson opened #326 "`server4.NewServer()` does not respect `addr.IP`"
In https://github.com/insomniacslk/dhcp/blob/3b29cbd2a47fb7ea9a028ca3bc150f855ae2c5ec/dhcpv4/server4/conn.go#L39-L42:

[code]

The `Bind` is made only against the specified `port` meaning that the `net.UDPAddr` passed to `NewServer` is partially ignored.

I am attempting to build a DHCP server that supports multiple ranges of IPs.  The only way I understand that I can make this work is to run mult

[2019-10-15 08:07] Natolumin commented on #326
There is at least one issue with not listening on the wildcard address: you won't receive broadcasts. Without relays, all the DHCPDISCOVER messages should be broadcast, so basically you won't receive anything.

I do not think that is necessary. The BindToInterface call should ensure you can listen on the wildcard address on multiple sockets on multiple interfaces at the same time, as long as each

[2019-10-15 17:16] lewisthompson commented on #326
Thank you for the detailed answer, yes, it does make sense now that you have explained the broadcast.  I also saw that a PR has already been opened despite the extremely limited relay use case - awesome!

Regarding having multiple interfaces bind to the same port on macOS it looks as though the socket needs to have the `SO_REUSEPORT` option set, as per the comment in  https://stackoverflow.com/a/3

[2019-10-15 17:58] lewisthompson commented on #326
Confirmed: with `SO_REUSEPORT` I can bind multiple times (in this case launching my existing test app twice).

Fortunately I can just use `server4.WithConn()` and just reimplement the `NewIPv4UDPConn()` logic + setting `SO_REUSEPORT` without requiring any upstream changes.

[2019-10-16 22:21] pmazzini commented on #326
Do you need to bind to the same interface or different interfaces?

[2019-10-17 01:28] lewisthompson commented on #326
Different interfaces.  My local testing shows that even for different interfaces I need `SO_REUSEPORT` though.

[2019-11-22 15:26] xaionaro opened #334 "nclient4 API change proposal: (*Client).Request(...) (discover, offer, request, ack *dhcpv4.DHCPv4, err error)"
Hello!

The old v4 client (`client4`) has method [Exchange](https://github.com/insomniacslk/dhcp/blob/ec0e0154d15c429b3dcc56af60a2d7b62eb3d5e7/dhcpv4/client4/client.go) which returns 4 messages: `Discover`, `Offer`, `Request` and `Ack`.

While the closest analog in the new v4 client (`nclient4`), method [Request](https://github.com/insomniacslk/dhcp/blob/ec0e0154d15c429b3dcc56af60a2d7b62eb3d5e7/dh

[2019-11-22 15:27] insomniacslk commented on #334
CC @hugelgupf regarding the changes to nclient4

[2019-11-22 15:28] insomniacslk commented on #334
we are also staying on the old client4 for similar reasons

[2019-11-22 15:48] pmazzini commented on #334
If this is only for logging I think that the logger interface can be used instead since it prints each packet.

https://github.com/insomniacslk/dhcp/blob/master/dhcpv4/nclient4/client.go#L424

[2019-11-22 16:07] xaionaro commented on #334
I wouldn't trust the logging system as to a persistent API.

[2019-11-26 20:17] xaionaro commented on #334
@pmazzini : Your way with logger has two advantages:

* It prints messages in real time (instead of printing them all in the ending).
* It prints re-sends of a message.

So I tried to implement both ways here:

https://github.com/insomniacslk/dhcp/pull/335

[2019-11-27 13:05] pmazzini commented on #334
Thanks for looking at this!

Can we have different PRs for the different ways?

[2019-11-27 19:43] xaionaro commented on #334
I've just removed the API-breaking way for a while.

[2019-11-28 09:47] pmazzini commented on #334
Thanks

[2019-12-03 23:04] insomniacslk opened #337 "Add probot-auto-merge integration"
@hugelgupf and I were talking about integrating https://github.com/bobvanderlinden/probot-auto-merge in this repository, to simplify cases like #333 where the PR has been already approved, and it needs reapproval, which unnecessarily increases the RTT to get it merged. CC @pmazzini for discussion

[2019-12-04 09:53] pmazzini commented on #337
Sounds good to me.

[2019-12-04 10:31] xaionaro commented on #334
Not actual anymore, closing for now.

[2019-12-04 10:31] #334 closed

[2019-12-09 18:08] cretz opened #339 "Compile on Windows"
This cannot currently compile on Windows because #267 incorporated `github.com/u-root/u-root/pkg/rand`, which doesn't have a Windows version at https://github.com/u-root/u-root/tree/master/pkg/rand causing:

    vendor\github.com\insomniacslk\dhcp\dhcpv6\dhcpv6message.go:10:2: build constraints exclude all Go files in c:\redacted\vendor\github.com\u-root\u-root\pkg\rand

[2019-12-11 11:22] xaionaro opened #341 "DHCPv6 client ignores messages if they contain any error (even a minor one)"
The problem if for example any DHCPv6 option was encoded incorrectly then the whole DHCP message is just silently ignored. It makes diagnostics much more difficult. So an end user may think that DHCP server does work or anything else.

An example case:
If you encode bootfile param option as just a single string like "root=/dev/sda1 rw" instead of "\0x00\x10root=/dev/sda rw" then the whole DHCPv6 m

[2019-12-11 13:07] pmazzini commented on #341
Thanks for raising the issue.

If the packet is not RFC compliant we will return/log an error. It is not silently ignored.

However, I get what you mean. In DHCPv4 we do lazy parsing of the options and if an option is not properly encoded we will not return an error.

I think this is the same issue as https://github.com/insomniacslk/dhcp/issues/22 we need to uniform it.

[2019-12-11 13:45] xaionaro commented on #341
@pmazzini :

I'm talking about `continue` here:
https://github.com/insomniacslk/dhcp/blob/3997b8a58c66233275ad9b26612ef733a63bd9d3/dhcpv6/client6/client.go#L179

Unfortunately it is an `err` returned by `dhcpv6.FromBytes(buf[:n])` which in turn returns an error if any option is parsed with an error.

[2019-12-11 13:56] pmazzini commented on #341
Oh sorry, I misread it :s. Ok that is the old client. Yes makes sense to fill an issue for it. At least the new one doesn't do that.

[2019-12-28 04:22] chenliu1993 opened #342 "DHCP4 client cannot get ip"
Hi I am using the this package to get ip from dhcp server for VM. But After I am starting around ten VMs, dhcp client will not get IP anymore. It will returns this error:
client request failed: timed out while listening for replies: unknown

[2019-12-28 04:29] chenliu1993 commented on #342
In SendReceive Function

[2019-12-28 11:58] hugelgupf opened #344 "DHCPv6: IAPrefix option incomplete"
The v6 package has the IAPrefix option implemented, but not the IA_PD option. However, RFC 3633 states that IAPrefix must be encapsulated in the Options field of the IA_PD option. So the current IAPrefix cannot be used the correct way.

Is anyone using it incorrectly somehow? If not, I'll just remove it since it cannot be used correctly at the moment.

[2019-12-28 12:02] hugelgupf commented on #344
Nevermind, I found the IAPD implementation.... I'm gonna rename it.

[2019-12-28 12:02] #344 closed

[2020-02-04 21:44] pmazzini commented on #342
Are you sure this is an issue with the client? Is the server sending a response?

[2020-02-21 19:57] 10000TB opened #358 "v6: Option to assign ULA ?"
Looking for an option to assign ULA to client. and a rfc reference, anyone know any pointer to get started with ?

[2020-02-21 21:33] hugelgupf commented on #358
I think you'd assign this the same as any other IP - with an IANA and IAAddr?

[2020-02-27 16:53] hexmiles opened #359 "Why are dns mandatory in GetNetConfFromPacketv4"
I noticied that the function GetNetConfFromPacketv4 return an error if it dosen't find any dns server.
This cause the dhcp client to fail if the server dosen't return any dns server.

is there a reason or is this a bug?

i tried reading the dhcp specs and for what i understand dns are NOT mandatory.

[2020-02-27 19:59] pmazzini commented on #359
We may have made it mandatory to be able to resolve URLs names in case one is returned as a boot file url.

I think the behavior can be changed. Feel free to put up a PR.

Otherwise, we can take a look at it later. Thanks for raising it up.

[2020-03-02 22:01] mikma opened #360 "dhcpv6: Problem with FQDN option encoding"
There is a problem with the encoding of the FQDN option. According to RFC 4704 section 4.2:

And according to RFC 3315 section 8:

(I have a fix but it doesn't use the rfc1035label package, which I guess it should.
https://github.com/mikma/insomniacslk-dhcp/commits/bugfix/fqdn-encoding)

[2020-03-02 22:12] hugelgupf commented on #360
Good catch! cc @10000TB

[2020-03-02 22:22] pmazzini commented on #360
Yes, better to fix it using the `rfc1035label` package.

[2020-03-09 21:31] pmazzini commented on #358
Feel free to reopen if needed.

[2020-03-09 21:31] #358 closed

[2020-03-09 21:32] pmazzini commented on #324
Feel free to reopen if needed.

[2020-03-09 21:32] #324 closed

[2020-03-09 21:38] pmazzini commented on #326
We do respect `addr.IP` after #327. Closing. Reopen if needed.

[2020-03-09 21:38] #326 closed

[2020-03-09 21:41] pmazzini commented on #201
I think this is no longer valid after changing the underlying lib.

[2020-03-09 21:41] #201 closed

[2020-03-09 21:45] pmazzini commented on #139
Github is already enforcing DCO. Feel free to reopen if needed.

[2020-03-09 21:45] #139 closed

[2020-03-09 22:50] insomniacslk commented on #139
This is a different thing from DCO. However this is not something we are going to do soon anyway, so let's leave it closed

[2020-03-10 21:41] #360 closed

[2020-03-11 08:25] tanis2000 opened #370 "Custom logger"
Is there any way to pass to the library a custom logger to use instead of the default "log" package?

[2020-03-11 09:23] pmazzini commented on #370
This looks similar to what was discussed in #332.

Which packages are you interested in?

In the nclient4/6 packages you can pass a custom logger.

[2020-03-11 09:52] tanis2000 commented on #370
@pmazzini thanks for the feedback. Right now I'm interested in the `server4` package and eventually in the `server6`

[2020-03-11 10:04] pmazzini commented on #370
Yes, we need to make something similar to what was done for the nclient4/nclient6 packages. Feel free to put up a PR :)

[2020-03-11 13:40] tanis2000 commented on #370
@pmazzini I'd be happy to contribute that code but so far I noticed that the `master` branch is failing most of the tests. Should I branch from there or is there a branch with no broken tests at the moment? Or is it just a problem because I'm on macOS?

[2020-03-11 14:12] pmazzini commented on #370
Yes, it is because of macOS #229 #318

[2020-03-11 15:01] tanis2000 commented on #370
There you go, this should do the trick: https://github.com/insomniacslk/dhcp/pull/371
Please let me know if you see any issue with it.

[2020-03-11 15:07] pmazzini commented on #370
Thanks for working on it.

[2020-03-28 07:52] purpleidea opened #372 "dhcpv4 OFFER message isn't received if empty interface"
I've been working on a built-in dhcpv4 server in https://github.com/purpleidea/mgmt/
Thanks to your fine library, I don't need to do it all from scratch! (Many thanks!)
In order to learn more about the specific protocol requirements, I've been reading and trying code in: https://github.com/coredhcp/coredhcp

In any case, I start my server like this:

[code]
As per the code, it seems that "interfac

[2020-03-28 10:04] Natolumin commented on #372
Thanks for the report!

Can you share with us how you actually **send** the response packet, if possible the whole code for your `handler4` function? For comparison, coredhcp's logic for DHCPv4 is [here](https://github.com/coredhcp/coredhcp/blob/8ca37de97e2d7333515effa57fea81f054b835e2/coredhcp.go#L203) and is not obvious.
Are the logs you shared from the server or the client ?
Do you have say a p

[2020-03-28 10:18] purpleidea commented on #372
On Sat, Mar 28, 2020 at 6:04 AM Anatole Denis <notifications@github.com> wrote:

I'm literally using the exact same code, except wrapped inside of my
own mgmt wrappers. I will finish the patch shortly and publish it in
its entirety.

Sorry-- those are from the server.

Fair! I haven't dug this deep yet, and for all I know it could be a
bug in NetworkManager, but it's sufficiently common that I fig

[2020-03-28 11:26] #370 closed

[2020-04-01 04:27] purpleidea commented on #372
Any chance you had a chance to try? If not, lmk and I can make you a custom build.

[2020-04-01 06:23] guo1017138 opened #376 "server4/server6 doesn't closed properly with Close() function"
Hi,

I am using server4/6 in goroutine(thread) mode, and I may close server4/server6 before exit my main program and do some other task. The Serve() function will return error after Close().

Error reading from packet conn: read udp 0.0.0.0:67: use of closed network connection

It shall be caused by the for loop still there without exit after the server4/6 closed by Close() function, so when try t

[2020-04-01 16:57] Natolumin commented on #372
Hey! Sorry I skipped over that question in the first read. I have a hunch:

Do you have a default route where the server is running ?

If I don't have a default route in the netns where coredhcp is running, I have the same symptoms as you: running when bound to a specified interface works fine, while running without binding to an interface (with interface = "") results in the following error:

[co

[2020-04-01 19:06] NonLogicalDev opened #378 "[BUG] Binding to an interface on MacOS does not function correctly"
When picking an interface on MacOS, the server will correctly listen for packets, but when doing an offer by replying to broadcast address, the system will route that to the Gateway interface only.

This is likely due to:
[code]

I am hardly an expert in stuff this low in the stack, though from the looks of it this is just filtering the received traffic, but does nothing to direct the outbound tra

[2020-04-01 20:48] Natolumin commented on #378
(For reference, I did some research on this issue in #316 and https://github.com/coredhcp/coredhcp/issues/52#issuecomment-532621844 )

I think you're right and it needs `{IP,IP6}_BOUND_IF`, in addition to `IP_RECVIF`
The problem is, there is no testing for macOS and none of the main developers of this library use it that I know of. If you have the hardware available to run some tests, help would b

[2020-04-01 20:58] NonLogicalDev commented on #378
I do have a few MacOS machines a linux host, and a few RaspberryPIs lying around.
I would gladly participate, and learn more about DHCP in the process.

[2020-04-04 17:55] Natolumin commented on #378
I found some time to write a patch to try the IP_BOUND_IF option. Could you try this branch: https://github.com/Natolumin/dhcp/tree/darwin_bindtointerface ?

Note while trying this I found that client4/nclient4 don't even build on darwin so yeah, our testing isn't great there

Here are some instructions for using the fork if you ever need them, I hope they're correct (feel free to ignore them if y

[2020-04-17 07:41] chenliu1993 opened #380 "Device or resource busy when requesting from DHCP server using DHCPv4 client"
Hi I am using the this package to get ip from dhcp server for VM. But After I am starting around ten VMs, dhcp client will not get IP anymore. It will returns this error:
Device or resource busy.

[2020-04-17 08:00] pmazzini commented on #380
Same as #342.

Where is that error appearing? Do you have more logs?

[2020-04-17 10:14] chenliu1993 commented on #380
Sorry, I notice I may got this error because netlink.LinkSetup(ifname), so maybe my network interface has some issues.
Thank you.
The whole message is `Device or resource busy: invalid argument`

[2020-04-17 10:14] #380 closed

[2020-04-30 23:37] NonLogicalDev commented on #378
@Natolumin I will work on it this weekend if time allows, sorry for the delay.

[2020-05-08 07:26] #376 closed

[2020-06-11 23:52] hujun-open opened #385 "NewRelease() is missing?"
since nclient4 doesn't support Release exchange, I want to write one, then I was reading doc, the doc for dhcpv4.New() says " See also NewDiscovery, NewOffer, NewRequest, NewAcknowledge, NewInform and **NewRelease** . "
however I can't find NewRelease() in the dhcpv4.go

[2020-06-12 03:35] chenliu1993 commented on #342
Hi I got this error again and do some investigation into it. I found each time this error happens, the client cannot receive the DHCP Offer packet by checking the length of packets list's length of client (which is 1) even server has sent out the Offer packet. Since there is a 3 sec timeout, client will return error after 3 secs if client didn't receive the Offer.

And this is error cannot be repr

[2020-06-12 06:31] pmazzini commented on #385
Feel free to create a PR.

[2020-06-12 06:32] pmazzini commented on #385
This is a dup of #311. I am going to merge it.

[2020-06-12 06:33] pmazzini commented on #385
Feel free to reopen or continue the conversation in #311.

[2020-06-12 06:33] #385 closed

[2020-06-12 06:34] pmazzini commented on #342
Can you provide the whole pcap?

[2020-06-12 13:06] chenliu1993 commented on #342
[wireshark.zip](https://github.com/insomniacslk/dhcp/files/4770918/wireshark.zip)
Yes, the pcapng file is in the zip. And the packet with number 140 is the problem packet. After 140, no further Request packet is sent and another DHCP process begins. Thank you for looking into this.

[2020-06-12 13:09] chenliu1993 commented on #342
and from the client side,
[code]
The first part of this error is generated by Exchange function. The last part of the error is generated by me to show the length of packet lists.

[2020-06-15 17:15] jhawk28 commented on #339
#279 would fix this

[2020-06-18 04:10] hujun-open commented on #311
I have coded lease & release support for nclient4, tested with a 3rd party DHCP server; there is an example in lease.go;
if you think it is ok, I will create a pull request

https://github.com/insomniacslk/dhcp/compare/master...hujun-open:dhcpv4_release

[2020-06-18 04:12] hugelgupf commented on #311
Open a PR and we can comment on it!

[2020-06-18 05:23] hujun-open commented on #311
PR opened #386

[2020-07-20 03:51] arun0704 opened #389 "Query on existing code of DHCP"
Would like to know listed functionalities, does code already have?

- API plugin (to control the server via thrift/gRPC/REST/whatever)
- automatic configuration reloader
- plugins to use multiple backends (e.g. mysql)
- plugins to manipulate more DHCP options
- a web UI based on the above API

And please do comment if any support channel available?

[2020-08-02 08:30] #311 closed

[2020-08-02 08:49] pmazzini commented on #389
Short answer is no. It only provides a basic DHCP server library.

For a modular DHCP server you may want to check [coredhcp](https://github.com/coredhcp/coredhcp).

[2020-08-02 08:49] #389 closed

[2020-09-10 21:05] hans-d commented on #229
Any update yet on being able to use the client on non-linux (eg darwin) ?

[2020-09-12 08:49] pmazzini commented on #229
PRs are welcomed. There is even a patch that needs testing in https://github.com/insomniacslk/dhcp/issues/378#issuecomment-609066057.

[2020-09-15 14:30] arun0704 opened #398 "Compile issue in nclient4"
Getting compile-time issue with nclient4 package.

compilepkg: error running subcommand: exit status 2
/private/var/tmp/_bazel_adangi/b9db0c76ac6f90eb1e3650806a8727e9/sandbox/darwin-sandbox/887/execroot/atom/external/com_github_insomniacslk_dhcp/dhcpv4/nclient4/client.go:217:17: undefined: NewRawUDPConn

Code -

c, err := nclient4.NewWithConn(clientConn, iface.HardwareAddr, nclient4.WithServerAddr

[2020-09-15 16:03] Natolumin commented on #398
The nclient4 package doesn't support macOS yet (or any non-linux OS). This is more generally tracked in #229 for now

[2020-09-15 16:14] pmazzini commented on #398
Lets track this in one issue. Closing in favor of #229.

[2020-09-15 16:14] #398 closed

[2020-09-16 15:00] #123 closed

[2020-09-18 23:22] pmazzini commented on #243
Inspired by the `go-ping` and `go-zookeeper` orgs, I registered the `go-dhcp` one. I am happy to transfer/add owners to it.

[2020-09-18 23:48] hugelgupf commented on #243
I'm for it.

[2020-10-18 10:29] advancedwebdeveloper opened #401 "Gollvm support, including Ubuntu"
Hi.
I wanted to confirm that this projects compiles, tests are running successfully and executables are working - I am using [gollvm](https://go.googlesource.com/gollvm/) on Ubuntu 20.04.1 x86_64 .

I am proposing the maintainers to update your README file and inform people that it could be compiled by "llvm-goc" tool. So there would be some diversification, in choosing which compiler to use.
Besi

[2020-12-12 11:16] gmacd opened #405 "No support for non-apple boot menus?"
I've been trying to netboot a raspberry pi 4.  It expects a pxe menu with the string 'Raspberry Pi Boot' (option 43, suboption 9).

The BSDP format used in this code seems to be Apple-specific - in this case, the BootImageID is different.  It would be great if this package could support a non-Apple entry.

I was able to get things working by fiddling with the bytes directly:

[code]

(Note I'm no

[2020-12-12 21:23] pmazzini commented on #405
Maybe something like this?

[code]

[2020-12-19 17:08] pmazzini commented on #405
Reopen if needed.

[2020-12-19 19:13] gmacd commented on #405
Sorry, if I use the example you gave, it doesn't work, and I see a malformed packet error in wireshark.  It needs the 3 bytes at the start to fill the structure - it's not just a string.

[2020-12-19 19:14] gmacd commented on #405
Looks like I'm unable to reopen this.

[2020-12-19 19:33] pmazzini commented on #405
My example is more pseudocode than anything else. Can you provide the example code you are using without the bsdp package and the wireshark capture with the malformed packet?

[2020-12-19 20:14] gmacd commented on #405
The actual code is in the text of the issue. I’ll see about the wire shark packet

[2020-12-19 20:19] pmazzini commented on #405
Why are you using the BSDP package?

[2020-12-19 23:35] gmacd commented on #405
I couldn't find a better way of creating the pxe menu required to boot a raspberry pi.  I was trying to replicate the message created by dnsmasq as described here: https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/net_tutorial.md

The dnsmasq config below creates the pxe boot menu I need to replicate:
[code]

The code snippet I posted in the issue does the job, but it feels

[2020-12-20 00:03] pmazzini commented on #405
Have you looked at my first comment? (which does not use the BSDP package)

[2020-12-29 14:22] pmazzini commented on #405
Feel free to reopen it.

[2020-12-29 14:22] #405 closed

[2020-12-30 08:24] AllenX2018 opened #406 "can you release a version?"
Hello ~ community maintainer:
the community has not released a version for a long time, can you  release a version?

[2021-02-28 20:29] pmazzini commented on #342
Is this still an issue?

[2021-02-28 20:31] pmazzini commented on #378
@NonLogicalDev Were you able to give this a try?

[2021-03-13 09:35] NonLogicalDev commented on #378
Hey @pmazzini / @Natolumin Appologies for admittedly long time to get this tested. I did test it though and is seems to be working with a small caveat:

In this snippet:
https://github.com/Natolumin/dhcp/blob/darwin_bindtointerface/interfaces/bindtodevice_darwin.go

This is actually slightly wrong:
[code]

The `unix.SOL_SOCKET, unix.SO_TYPE` return the socket type, not domain. It will actually ret

[2021-03-13 11:55] pmazzini commented on #378
@NonLogicalDev Thanks for getting back to this and testing it.

Ok, this is a starting point. Better IPv4 than nothing.

If I am not mistaken the BSD `BindToInterface` is also IPv4 only: https://github.com/insomniacslk/dhcp/blob/master/interfaces/bindtodevice_bsd.go#L17

Do you have Darwin on a RPI?

Also thanks @Natolumin for looking at this. Would wither of you like to submit a PR?

[2021-03-13 21:12] NonLogicalDev commented on #378
@pmazzini RPI just has a basic debian linux on it. It is just nice to debug since it has a serial interface and network stack that is easier to introspect =]

[2021-03-13 21:22] NonLogicalDev commented on #378
In regards to BSD, we are talking about the `IP_BOUND_IF` / `IPV6_BOUND_IF` which have different versions for ipv4 vs ipv6. `IP_RECVIF` weirdly does not have `IPV6_RECVIF` counterpart... 🤷

[2021-03-13 21:27] NonLogicalDev commented on #378
We could take a naive approach and attempt to set both, and see which one does not return an error.

[2021-03-13 21:47] NonLogicalDev commented on #378
Here is what you get for two scenarios, when IPV4 is setup on socket:
[code]
[code]
---

[code]
[code]

[2021-03-13 21:49] NonLogicalDev commented on #378
After some more experimentation I concluded that:
[code]

is enough for correct operation. In other words this is not needed:
[code]

[2021-03-13 21:52] NonLogicalDev commented on #378
Also in case of IPV6 socket this does not raise any errors
(but could not test proper operation as I dont have dhcpv6 setup at the moment):

[code]

[2021-03-14 12:13] Natolumin commented on #378
I can rebase and send a proper PR with these changes sometime this week. I still can't test it but now that the poc at least works it'll be quicker to test. Thanks a bunch for your research @NonLogicalDev

`IP_RECVIF` is settable for both V4 and V6 sockets, like a few other ipv4-level socket options, eg IP_TOS or IP_TTL (you need to set them at the `IPPROTO_IP` level, but it's still accepted if th

[2021-03-15 00:33] NonLogicalDev commented on #378
By the way, @Natolumin where did you find all of the information about `IP_RECVIF`? And especially the `IPV6_BOUND_IF` I have been searching around and could not find anything reasonable that documents those options.

Best I found was this: (https://docs.oracle.com/cd/E86824_01/html/E54777/ip-7p.html)
[code]

But that is not solaris documentation....

Seems like the IP_BOUND_IF does indeed behave

[2021-03-15 00:57] NonLogicalDev commented on #378
Updated my gist with a better test / interface code that seems to work and is easy to test under different conditions:

* https://gist.github.com/NonLogicalDev/f7d1afdac2097f40997a194df60d59e1?ts=4

[2021-03-17 20:18] insomniacslk commented on #406
CC @pmazzini @hugelgupf @Natolumin . Anything missing before we cut a release? Even better if 1.x ?

[2021-03-17 22:33] pmazzini commented on #406
Chris wanted to remove the `async` client before the 1.x release: https://github.com/insomniacslk/dhcp/pull/400#issue-487817803

His `pinterest/bender` PR was never merged though: https://github.com/pinterest/bender/pull/39

I am ok with cutting a release. If we can remove the `async` client even better.

[2021-03-17 22:52] Natolumin commented on #406
There isn't anything specifically missing for v1 that I can think of, but anyway if it's just adding missing things we can do it within a minor release

Releasing a v1 means we have to actually be careful about breaking api changes from now on (which I'm definitely happy about), so maybe we want to make a pass at unexporting things we don't want to guarantee stability on, or that aren't directly u

[2021-03-18 01:33] hugelgupf commented on #406
Let's get it out the door and remove / change things in v2... only have so much time rn

[2021-03-24 14:08] insomniacslk opened #415 "Merge insomniacslk/exdhcp into dhcp/examples"
Context at https://github.com/insomniacslk/exdhcp/issues/1 . In short, there's no need for a separate repository

[2021-03-31 04:09] qin-nz opened #416 "dhcpv4: Where is method `NewOffer`"
Hello,

I notice in the comment of `dhcpv4.New` method, there should be a method named `NewOffer`.
I can't find it, it's not implement?

https://github.com/insomniacslk/dhcp/blob/c51060810aaab9c8a0bd1b0fcbf72bc0b91e6427/dhcpv4/dhcpv4.go#L135-L139

[2021-03-31 09:06] pmazzini commented on #416
Hi @qin-nz

The comment of `dhcpv4.New` is wrong. A PR to fix the comment is welcomed.

In a server implementation the Offer gets constructed based on the Discover and the Ack gets constructed based on the Request.

For that we have `NewReplyFromRequest`.

You can check the CoreDHCP example: https://github.com/coredhcp/coredhcp/blob/master/server/handle.go#L119

[2021-04-25 15:47] pmazzini commented on #308
@rjoleary Are you looking at this?

[2021-04-25 16:10] pmazzini commented on #342
Does it happens randomly or is it a constant failure?

[2021-04-25 16:35] pmazzini commented on #401
Thanks for the info. How do we know if it continues to work?
Are you suggesting to setup a CI with `llvm-goc`?
Are you willing to do this?

[2021-04-26 02:34] chenliu1993 commented on #342
I don't have the test environment any more, but constant I remember. When the number of request to local DHCP server reached a "number", the above error will show up. And the "number" here is not fixed, but it sure is a big enough number.

[2021-04-26 08:38] pmazzini commented on #342
Can you explain a bit more the setup that you have?

Which DHCP server are you using?

Why is the client doing so many requests?

[2021-04-28 00:41] chenliu1993 commented on #342
Sorry, I am not on this project and can't remember the details. But I can barely remember the reason why the client does so many requests because the veth pair is continuing failing to create so there is always need for a new IP.
The DHCP server is a local server on host since the client is inside a VM

[2021-04-28 00:42] chenliu1993 commented on #342
Sorry, I am not on this project and can't remember the details. But I can barely remember the reason why the client does so many requests because the veth pair is continuing failing to create so there is always need for a new IP.
The DHCP server is a local server on host since the client is inside a VM

[2021-04-28 09:17] #416 closed

[2021-05-10 19:50] Gictorbit opened #426 "how to create a dhcp4 server and assign IP address to clients based on subnetmask?"
I read the example code provided in documents, but I got confused a little, can you help me?
How can I add DHCP range IP? Should I use handler function or what?

[code]

[2021-05-12 08:46] pmazzini commented on #426
This is a "lower level" library and you need to craft the DHCP response packet you want the client to receive.

For a "higher level" server implementation you can look at CoreDHCP.

[2021-05-12 10:23] Gictorbit commented on #426
Thank you for your explanation, actually I saw `CoreDHCP` before, but I need an library to use it in my project and I couldn't find any documentation how can I use it in my code as library?

[2021-05-24 17:06] marcj303 opened #427 "dhcpv4 malformed packet"
The first packet of fbnetboot dhcpv4 discover fails with a malformed packet. It looks like a problem setting the` User Class Information: linuxboot`. See the attached wireshark pcap.
[userclass_borked.pcapng.gz](https://github.com/insomniacslk/dhcp/files/6533873/userclass_borked.pcapng.gz)

[2021-05-24 17:39] pmazzini commented on #427
I haven't looked at the pcap but I suspect this is related to the fact that we support both the RFC compliant user class as defined in RFC3004 and the non RFC compliant as defined by [Microsoft docs](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dhcpe/a7be26f5-659d-4912-b715-0481b9d84e95?redirectedfrom=MSDN).

Related #113 #114

[Wireshark info](https://osqa-ask.wireshark.org/que

[2021-05-24 17:44] pmazzini commented on #427
`u-root` looks to be using the non RFC compliant one:
https://github.com/u-root/u-root/blob/master/cmds/boot/fbnetboot/main.go#L361

Would you like to check it changing that bool solves your issue?

[2021-05-24 17:47] pmazzini commented on #426
You can't use `CoreDHCP` as a library, you can only develop plugins for it. Otherwise you can look at its code to see how this library is being used.

[2021-05-25 19:35] marcj303 commented on #427
Yes, Changing fbnetboot to the RFC compliant userclass decodes in wireshark correctly. I guess this issue needs to move to fbnetboot.

[2021-05-25 19:35] #427 closed

[2021-05-30 06:29] Gictorbit commented on #426
yeah that's what I did, also I found this library [krolaw/dhcp4](https://github.com/krolaw/dhcp4) useful.
thank you

[2021-05-30 06:29] #426 closed

[2021-06-03 14:17] vulcanfan opened #430 "Existing check that c.ifaceHWAddr == msg.ClientHWAddr"
Hi,

In dhcpv4/nclient4/client.go:receiveLoop() there is a check that if a client MAC address is included in an incoming packet and if that client MAC address does not match the local bound interface then the packet is discarded.  There is also an accompanying comment:

[code]
My question is this 'non-standard' check needed at all?  In my own case I'm trying to use the package as a form of DHCP re

[2021-06-07 11:09] pmazzini commented on #430
This is a client after all and not a relay. I think it may be fair to make it configurable and have an option to disable it if you know what you are doing (relay).

This is filtering at the DHCP packet content level and not MAC layer.

[2021-06-11 18:33] erikgeiser opened #432 "Implement NewIPv6UDPConn for Windows"
I just opened #431 to make `server6` compile on Windows by adding a dummy `NewIPv6UDPConn` function like in `server4`. However, it would be awesome if someone could actually implement this function for Windows. I did some research but I can't say that I'm prepared to do so myself.

[2021-06-14 12:19] vulcanfan commented on #430
Hi,

That would be great if it was made an option as you suggest.  Defaulting to keeping the existing check of course.

Would be much appreciated if that could be done in due course?

Many thanks in advance

[2021-06-20 11:18] huyuan1999 opened #433 "Construction of offer message by DHCP server"
``Hello!
    I created a DHCP server in Linux to return the offer message for the client, but the client still sends the discover request to the server. I think there may be an error in the offer message I built. I want to ask how to build the offer message correctly.

Here is my code:
[code]

tcpdump packet capture results:
![image](https://user-images.githubusercontent.com/32996226/122672127-82b

[2021-06-20 13:41] #433 closed

[2021-06-21 13:02] pmazzini commented on #433
What was the issue?

[2021-08-09 16:32] pmazzini commented on #243
Reviving this, would it make sense to move it to an org?

[2021-08-09 18:32] insomniacslk commented on #243
No objections, I would use the existing coredhcp org though

[2021-08-09 18:35] #359 closed

[2021-08-09 19:22] #378 closed

[2021-08-10 07:08] pmazzini commented on #339
* https://github.com/u-root/u-root/pull/2019
* https://github.com/insomniacslk/dhcp/pull/428
* https://github.com/insomniacslk/dhcp/pull/431

[2021-08-10 07:08] #339 closed

[2021-08-10 07:15] pmazzini commented on #82
For reference, we now how some integration tests: https://github.com/insomniacslk/dhcp/blob/master/netboot/netconf_integ_test.go

[2021-08-10 07:25] pmazzini commented on #229
Related:
* https://github.com/insomniacslk/dhcp/issues/378
* https://github.com/insomniacslk/dhcp/pull/423

The main package should compile now and the nclient code should be usable.

[2021-08-10 07:29] pmazzini commented on #290
Same as https://github.com/insomniacslk/dhcp/issues/247

[2021-08-10 07:29] #290 closed

[2021-08-11 22:27] heinz-boehmer commented on #308
I'll take over this.

[2021-12-13 12:42] smira opened #454 "panic parsing UDP packet"
This issue is random, but looks like the library can panic when it receives some (malformed) packet. I don't have the packet dump unfortunately, as the panic happens in the PID 1 process and it crashes whole node.

The panic itself seems to be coming from the line https://github.com/insomniacslk/dhcp/blob/465dd6c35f6c983206a5bc21fbfff4819ce21eb0/dhcpv4/nclient4/ipv4.go#L213, and the panic message

[2021-12-13 12:43] smira commented on #454
See also: https://github.com/talos-systems/talos/issues/4567

[2022-01-13 14:13] pmazzini commented on #454
Closing after #455

[2022-01-13 14:13] #454 closed

[2022-01-28 04:06] mayuresh82 opened #460 "Why are we sorting options during Marshal ?"
Is there a reason why we are sorting the options when marshaling ?
https://github.com/insomniacslk/dhcp/blob/master/dhcpv4/options.go#L184
This breaks user intent. As a user, I would want the options inserted on the wire in any order I chose. Unfortunately, this also breaks some older vendor implementations that expect options in a specific order.
I cant think of any reason why we would want to so

[2022-01-28 09:34] pmazzini commented on #460
https://github.com/insomniacslk/dhcp/pull/227#issuecomment-453866068

[2022-01-28 23:08] #460 closed

[2022-03-17 14:51] polarbroadband opened #462 "DHCP Options to support RFC8572 SZTP"
Could you please update the DHCP option 143 and 136 based on the following IANA assignments? They are using for RFC8572 SZTP now.
Opt143: https://www.iana.org/assignments/bootp-dhcp-parameters/bootp-dhcp-parameters.xhtml
Opt136: https://www.iana.org/assignments/dhcpv6-parameters/dhcpv6-parameters.xhtml#dhcpv6-parameters-2

[2022-04-05 05:13] pmazzini commented on #462
It should be easy to implement, feel free to create a PR.

Just out of curiosity, which vendor is using this?

[2022-05-12 12:45] rtpt-erikgeiser opened #466 "RFC 1035 Labels: Support Partial Domain Names as per RFC 4704 Section 4.2"
I found that my VM running Windows 10 (Version 1909) in default configuration sends DHCPv6 solicit messages with an FQDN option where the label only contains a length byte and the name without a trailing zero-length byte (note that the zero-byte after `win10vm` belongs to the vendor class option):

![image](https://user-images.githubusercontent.com/70747329/168074889-98b2b63c-d277-41f7-af31-67493f

[2022-06-02 08:42] #342 closed

[2022-06-16 08:30] mgazza opened #468 "Panic on DiscoverOffer"
When calling discover offer the library panics with
[code]

[code]

[2022-07-14 10:08] dbourkey commented on #247
This seems like a good first issue. Any objections if I take a stab at this?

[2022-07-14 13:03] pmazzini commented on #247
No objections, you are more than welcome to contribute and put up PRs.

[2022-09-15 22:58] #466 closed

[2022-10-11 09:23] polarbroadband commented on #462
Yeah, just need to update the types file.

This options will be used for Secure Zero Touch Provisioning, implemented by many switches like Cisco, Juniper and Ciena.

Thanks

Kelvin